@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";

.notification {
  background-color: rgb(226, 226, 226);
  display: inline-block;
  padding: 20px 30px;
  border: solid 2px;
  border-radius: 4px;
}