.blog {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  margin: 5px 15px 5px 0;
  background-color: rgb(117, 196, 192);
  border-radius: 4px;
}

.blog p {
  margin-bottom: 5px;
  margin-top: 0;
}

button {
  margin: 0 2px;
}
